<!DOCTYPE html>
<html>
<head>
  <title>Wempower chat</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<nav class="navbar navbar-dark bg-inverse">
  <%= link_to 'Wempower chat', root_path, class: 'navbar-brand' %>

  <% if user_signed_in? %>
    <ul class="nav navbar-nav pull-right">
      <li class="nav-item">
        <span class="text-muted">Logged in as <strong><%= current_user.name %></strong></span>
      </li>
     <%#<li class="nav-item">
        <span><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link' ></span>
      </li>%>
    </ul>
  <% end %>
</nav>

<div class="container">
  <%= yield %>
</div>

<footer>
  <div class="container">
    <%= link_to 'Log out',destroy_user_session_path, method: :delete %>
    <%#<p class="text-muted">Created by <%= link_to 'Samreen Malla', 'https://plus.google.com/u/0/115321503597804875178' %></p>
  </div>
</footer>
</body>
</html>